<div class="mt-5">
  <h2>nosotros</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptate eligendi minus inventore aspernatur hic placeat animi, dolorem et libero praesentium illum vero repellat nihil consequatur magnam omnis quidem! Quidem?</p>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of equipo, index as i">
      <h6>Nombre: {{ item.nombre }}</h6>
      <h6>Especialidad: {{ item.especialidad}}</h6>
      <a [routerLink]="['/equipo',i]">Leer mas...</a>
    </li> 
  </ul>
</div>
